/* 
   #colors
   ========================================================================== */

.u-bg-header 	{ background: $bg-header; }
.u-bg-banner 	{ background: $bg-banner; }
.u-bg-accent 	{ background: $bg-accent; }
.u-fg-header 	{ color: #fff; }
.u-fg-banner 	{ color: $bg-banner; }